{% extends "base.html" %}
{% load fa icons %}
{% block content %}
<section class="sec wrap" style="padding-block:40px 70px;max-width:860px">
  <div class="head">{% edit_btn tutorial %}
    <a class="kick" href="{{ product.get_absolute_url }}">{{ product.name }} › آموزش‌ها</a>
    <h1>{{ tutorial.title }}</h1>
  </div>
  {% if tutorial.embed_html %}<div class="video-box">{{ tutorial.embed_html|safe }}</div>{% endif %}
  <article class="prose">{{ tutorial.body|safe }}</article>
  {% if tutorial.attachment %}<a class="btn btn--line btn--sm" href="{{ tutorial.attachment.url }}" download>{% icon "download" 16 %} دانلود فایل</a>{% endif %}
</section>
{% endblock %}
