{% load fa %}
<article class="card card--post">
  {% edit_btn post %}
  <a href="{{ post.get_absolute_url }}" class="card__link">
    {% if post.cover %}<div class="card__cover"><img src="{{ post.cover.url }}" alt="{{ post.cover_alt|default:post.title }}" loading="lazy" decoding="async" width="600" height="338"></div>{% endif %}
    <div class="card__body">
      <div class="card__meta mono" style="margin-bottom:8px"><span style="color:var(--firoozeh)">{{ post.category.title }}</span><time datetime="{{ post.published_at|date:'c' }}">{{ post.published_at|jdate:"%d %B %Y" }}</time></div>
      <h3>{{ post.title }}</h3>
      <p>{{ post.excerpt }}</p>
      <div class="card__meta mono"><span>{{ post.read_minutes|fa_num }} دقیقه مطالعه</span></div>
    </div>
  </a>
</article>
